<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/auth.css">
</head>

<body>
    <div id="loading" class="active"></div>
    <div id="loadingBackground" class="active"></div>
    <div class="container">
        <div class="container">
            <div class="header-login">
                <div class="header-constant">
                    <img id="header-icon" src="./static/asset/Polaaris.png" alt="Polaaris">
                    <h1>POLAARIS</h1>
                </div>
            </div>

            <div class="content">
                <div class="content-constant">
                    <h1 style="text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);">Seja bem-vindo ao POLAARIS</h1>
                    <p>Detectei que você não está conectado com a Epic Games, para conectar, basta clicar no botão
                        abaixo.</p>
                    <button id="handle-login"><img id="epic-icon"
                            src="https://cdn2.unrealengine.com/eg-shield-logo-white-f8185c103d8d.svg" alt=""> Entrar com
                        Epic Games</button>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="./static/js/auth.js"></script>
</body>

</html>