<!DOCTYPE html>
<html>

<head>
    <title>Polaaris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/games.css">
</head>

<body>
    <div id="modal">
        <div class="modal-content">
            <h2 id="gameName"></h2>
            <p id="downloadStatus"></p>
            <p id="eta"></p>
            <progress id="downloadProgress" value="0" max="100"></progress>
            <p><span id="downloadProgressValue"></span> • <span id="downloadSpd"></span></p>
            <br>
        </div>
    </div>
    <div id="loading" class="active"></div>
    <div id="loadingBackground" class="active"></div>
    <div class="container">
        <div class="header">
            <div class="header-constant">
                <img id="header-icon" src="../static/asset/Polaaris.png" alt="Polaaris">
            </div>
            <vr></vr>
            <div class="links">
                <a href="/account">Início</a>
                <a href="/account/games">Biblioteca</a>
                <a href="/account/settings">Configurações</a>
                <a href="/pt-BR">Epic Games Store</a>
            </div>
            <a class="logout">Sair</a>
        </div>

        <div class="content">
            <div class="slogan-box">
                <h1 id="game-stats"><span id="all-games" class="active">Todos</span> • <span id="installed-games">
                        Instalados</span></h1>
            </div>

            <div class="tools">
                <input type="text" id="searchQuery" placeholder="Nome do Jogo" oninput="search(this.value)">
                <label class="gameswitch">
                    <input type="checkbox" id="game-switch">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="game-list"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/js/games.js"></script>
</body>

</html>