@font-face {
    font-family: "Akira";
    src: url(/static/asset/Huggable.ttf)
}

@font-face {
    font-family: "Akira2";
    src: url(/static/asset/AkiraExpanded.otf)
}

textarea {
    resize: none;
    width: 500px
}

:root {
    --main-bg-color: #282828;
    --main-font: Arial, sans-serif;
    --gradient-bg: linear-gradient(to right, #da5fff, #6d94fd);
    --main-shadow: 0 10px 10px #00000080;
    --game-width: 200px;
    --game-height: 250px
}

html {
    scroll-behavior: smooth
}

html,
body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font)
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background: #333
}

::-webkit-scrollbar-thumb {
    background: #5f5f5f;
    border-radius: 12px;
    transition: .3s
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: .3s
}

.polaaris2 {
    font-family: "Akira2"
}

#header {
    max-width: 100%;
    display: flex;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: .3s;
    background: var(--gradient-bg);
    color: #fff;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--main-shadow);
    border-radius: 12px
}

#header #header-text {
    font-family: "Akira";
    font-size: 36px;
    text-shadow: 2px 2px 8px #00000080
}

.content {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    display: block;
    color: #fff;
    font-size: 18px
}

.fancy-button {
    padding: 12px;
    transition: .3s;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background: var(--gradient-bg)
}

.fancy-button:hover {
    background: var(--gradient-bg);
    transform: scale(1.1);
    transition: .3s
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: #0006
}

.modal-content {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    color: #fff;
    box-shadow: var(--main-shadow)
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 12px;
}

progress::-webkit-progress-bar {
    border-radius: 12px;
}

progress::-webkit-progress-value {
    border-radius: 12px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 12px;
}

progress[value]d::-webkit-progress-bar {
    background-color: var(--main-bg-color);
    border-radius: 12px;
    box-shadow: 0 2px 5px #00000040 inset
}

progress[value]::-webkit-progress-value {
    background-color: #da5fff;
    transition: width .5s ease-in-out
}

progress[value]::-moz-progress-bar {
    background-color: #da5fff;
    transition: width .5s ease-in-out
}

footer {
    text-align: center;
    padding: 6px;
    border-radius: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box
}

.polaaris {
    font-family: "Akira"
}

@keyframes ghost {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    50% {
        transform: translateY(-20px);
        opacity: .5
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.ghost {
    animation: ghost 2s infinite;
    margin: 0 auto;
    width: fit-content;
    height: fit-content
}

.avatar {
    margin-top: 50px
}

#hamburguer {
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000
}

#hamburguer.white {
    color: #da5fff;
    transition: .5s
}

#hamburguer.black {
    color: #000;
    transition: .5s
}

#navigation {
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform .3s ease;
    box-shadow: 0 4px 8px #0003
}

#navigation.show {
    transform: translateX(0)
}

#navigation a {
    margin-top: 10px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
    border-radius: 12px
}

#navigation a:hover {
    background-color: #1f1f1f;
    transition: .3s
}

.gameswitch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 3%
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s
}

input:checked+.slider {
    background-color: #2196F3
}

input:checked+.slider:before {
    transform: translateX(26px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.games-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.logout {
    position: absolute;
    top: 90%;
    left: 25%;
    cursor: pointer
}

#progress-bar-container {
    width: 100%;
    background-color: #f3f3f3
}

#loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    background: linear-gradient(270deg, #3f87a6, #ebf8e1, #f69d3c);
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999
}

#loading.active {
    display: block
}

#loadingBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
    backdrop-filter: blur(5px);
    z-index: 9998
}

#loadingBackground.active {
    display: block
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.game-list {
    display: grid;
    grid-template-columns: repeat(4, var(--game-width));
    grid-template-rows: repeat(4, var(--game-height));
    justify-content: center;
    gap: 10px
}

.game-list.list-view {
    display: flex;
    flex-direction: column;
    will-change: transform;
    grid-template-columns: repeat(1, 1fr)
}

.game-list.list-view .game {
    width: 100%;
    height: 150px;
    background-color: #333;
    border-radius: 6px;
    display: inline-flex;
    will-change: transform;
    flex: 1 0 auto;
    overflow: hidden
}

.game-list.list-view .game p {
    margin: 0;
    padding: 0
}

.game-list.list-view .game img {
    margin: 0;
    padding: 0;
    transform: none;
    transition: none;
    margin: auto;
    will-change: transform;
    border-radius: 3px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

#all-games {
    color: #fff;
    transition: .3s
}

#installed-games {
    color: #fff;
    transition: .3s
}

#all-games:hover {
    color: #fff;
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer
}

#installed-games:hover {
    color: #fff;
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer
}

#all-games.active {
    background-image: linear-gradient(to right, #da5fff, #6d94fd);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
    transition: .3s
}

#installed-games.active {
    background-image: linear-gradient(to right, #da5fff, #6d94fd);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
    transition: .3s
}

#all-games.active:hover {
    background-image: linear-gradient(to right, #da5fff, #6d94fd);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
    transform: scale(1.05);
    transition: .3s
}

#installed-games.active:hover {
    background-image: linear-gradient(to right, #da5fff, #6d94fd);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
    transform: scale(1.05);
    transition: .3s
}

@keyframes rainbow {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0 50%
    }
}

.game-list.list-view .game-info {
    position: static;
    background-color: transparent;
    display: flex;
    align-items: center;
    opacity: 1;
    flex-direction: row;
    justify-content: space-between;
    will-change: transform;
    height: 150px
}

.game-list.list-view .game-info button {
    margin-left: 10px
}

.game-list.list-view .game-name {
    padding: 0;
    flex-grow: 1
}

.game {
    position: relative;
    overflow: hidden;
    width: var(--game-width);
    height: var(--game-height)
}

.game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
    will-change: transform;
}

.game:hover img {
    transform: translateY(-20px)
}

.game-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #80808080;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity .5s
}

.game:hover .game-info {
    opacity: 1
}

.game-name {
    text-align: center;
    padding: 10px 0
}

.install-button,
.play-button,
.uninstall-button,
.open-location-button,
.cancel-button {
    padding: 10px;
    background-color: #da5fff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center
}

.game-list.list-view .play-button,
.game-list.list-view .install-button,
.game-list.list-view .uninstall-button,
.game-list.list-view .open-location-button,
.game-list.list-view .cancel-button {
    margin-top: 10px;
    border-radius: 12px;
}

.cancel-button {
    border-radius: 12px;
}

.install-button:hover,
.play-button:hover,
.uninstall-button:hover,
.open-location-button:hover,
.cancel-button:hover {
    padding: 10px;
    background-color: #b952d8;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed
}

#searchQuery {
    max-width: 100%;
    display: flex;
    padding: 12px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px #0003;
    margin: 0 auto;
    align-items: center;
    
}